
body {
  background-color: black;
  user-select: none;
}
/* elements */
h1 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
h1 span {
  font-size: 12px;
}

/* classes */
.App {
  top: 20px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 1024px;
  height: 640px;
  border: 2px solid #fee4bd67;
}
.label {
  color: black;
  text-align: center;
  margin-top: 10px;
}
.RotPot {
  position: absolute;
  width: 116px;
  height: 116px;
}
.key {
  position: absolute;
  display: inline-block;
  top: -26px;
}
.black {
  width: 41px;
  height: 164px;
  z-index: 1;
}
.white {
  width: 78px;
  height: 306px;
  z-index: 0;
}
/*
.C,
.F {
  background-image: url('./img/18.png');
}
.D,
.G,
.A {
  background-image: url('./img/20.png');
}
.E,
.B {
  background-image: url('./img/22.png');
}
.Csharp,
.Dsharp,
.Fsharp,
.Gsharp,
.Asharp {
  background-image: url('./img/19.png');
}
*/
#key-0 {
  background-image: url('./img/1.png');
  width: 77px;
}
#key-1 {
  background-image: url('./img/2.png');
}
#key-2 {
  background-image: url('./img/3.png');
  width: 78px;
}
#key-3 {
  background-image: url('./img/4.png');
}
#key-4 {
  background-image: url('./img/5.png');
  width: 76px;
}
#key-5 {
  background-image: url('./img/6.png');
  width: 77px
}
#key-6 {
  background-image: url('./img/7.png');
}
#key-7 {
  background-image: url('./img/8.png');
}
#key-8 {
  background-image: url('./img/9.png');
}
#key-9 {
  background-image: url('./img/10.png');
}
#key-10 {
  background-image: url('./img/11.png');
}
#key-11 {
  background-image: url('./img/12.png');
}
#key-12 {
  background-image: url('./img/13.png');
}
#key-13 {
  background-image: url('./img/14.png');
}
#key-14 {
  background-image: url('./img/15.png');
}
#key-15 {
  background-image: url('./img/16.png');
}
#key-16 {
  background-image: url('./img/17.png');
}
#key-17 {
  background-image: url('./img/18.png');
}
#key-18 {
  background-image: url('./img/19.png');
}
#key-19 {
  background-image: url('./img/20.png');
}
#key-20 {
  background-image: url('./img/21.png');
}
#key-21 {
  background-image: url('./img/22.png');
}
#key-22 {
  background-image: url('./img/23.png');
}
#key-23 {
  background-image: url('./img/24.png');
}
#key-24 {
  background-image: url('./img/25.png');
}
#key-25 {
  background-image: url('./img/26.png');
}
#key-26 {
  background-image: url('./img/27.png');
}
#key-27 {
  background-image: url('./img/28.png');
}
#key-28 {
  background-image: url('./img/29.png');
}
#key-29 {
  background-image: url('./img/30.png');
}
#key-30 {
  background-image: url('./img/31.png');
}
#key-31 {
  background-image: url('./img/32.png');
}
#key-32 {
  background-image: url('./img/33.png');
}
#key-33 {
  background-image: url('./img/34.png');
}
#key-34 {
  background-image: url('./img/35.png');
}

.pressed {
  filter: brightness(0.7);
}

/* - - - - - - - - - - - - - - - */
/* POPIN */
/* - - - - - - - - - - - - - - - */

.popin-load-bar {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 100;
   /* Safari */
}
.invisible {
  display: none;
  z-index: -1;
}
.popin-load-bar H1 {
  color: #fee4bd;
}
.popin-load-bar div {
  border-bottom: 10px dashed #fee4bd;
}

/* - - - - - - - - - - - - - - - */
/* SHADE */
/* - - - - - - - - - - - - - - - */

.shade {
  position: absolute;
  width: 1024px;
  height: 141px;
  top: 360px;
  background: linear-gradient(black, transparent);
  opacity: 0.5;
  pointer-events: none;
  z-index: 10;
}


/* - - - - - - - - - - - - - - - */
/* MODULES */
/* - - - - - - - - - - - - - - - */

#controls {
  position: absolute;
  background-image: url('./img/CAISSEHAUTE_IMELLOTRON.png');
  width: 1024px;
  height: 360px;
  top: 0;
}
#keyboard {
  position: absolute;
  background-color: grey;
  width: 1024px;
  height: 280px;
  top: 360px;
  overflow: hidden;
  overflow-x: hidden;
}
.first-key {
  background-image: url('./img/18.png');
}
.last-key {
  background-image: url('./img/35.png');
}
#menu {
  position: absolute;
  background-image: url('./img/TOUCHBAR2_IMELLOTRON4.png');
  background-repeat: no-repeat;
  width: 225px;
  height: 208px;
  top: 20px;
  left: 20px;
  padding: 20px;
  color: white;
  overflow: auto;
}
#menu p {
  padding: 8px 8px 4px;
  margin: 2px;
  color: #ffffff;
  background: #333333;
  border-radius: 5px;
}
#menu p:hover {
  background: #383838;
  color: #fee4bd;
}
#menu p.active {
  background: #4b4b4b;
  color: #fdc46d;
}
#panel {
  position: absolute;
  background-image: url('./img/PLAQUEACIER_IMELLOTRON3.png');
  width: 696px;
  height: 248px;
  top: 20px;
  left: 305px;
}
#volume {
  background-image: url('./img/PotardMel1.png');
  top: 85px;
  left: 83px;
}
#tone {
  background-image: url('./img/PotardMel1.png');
  top: 85px;
  left: 287px;
}
#pitch {
  background-image: url('./img/PotardMel1.png');
  top: 85px;
  left: 491px;
}
#label-volume {
  position: absolute;
  width: 116px;
  top: 201px;
  left: 83px;
}
#label-tone {
  position: absolute;
  width: 116px;
  top: 201px;
  left: 287px;
}
#label-pitch {
  position: absolute;
  width: 116px;
  top: 201px;
  left: 491px;
}
#slider {
  position: absolute;
  background-image: url('./img/BARREOCTAVER_IMELLOTRON2.png');
  background-repeat: no-repeat;
  width: 680px;
  height: 5px;
  top: 320px;
  left: 180px;
}
#cursor {
  position: absolute;
  background-image: url('./img/OCTAVER_IMELLOTRON.png');
  width: 36px;
  height: 64px;
  top: -32px;
}


